-# Expected locals:
-# good as Object

.data_container
  .data_header
    Товар:
  .data.good_name
    = good.name

.data_container
  .data_header
    Место:
  .data.place_name
    - if good.place
      = good.place.name

.data_container
  .data_header.price
    Цена:
  .data.price
    = good.price

.data_container
  .data_header
    Дополнительно:
  .data.notes
    = good.notes
