-# Expected locals:
-# goods as Array of Object

- goods.each do |good|
  %li.goods_list_item
    .item_toolbar
      = link_to 'Просмотр', good, class: "button button_small"
      = link_to 'Редактировать', edit_good_path(good), class: "button button_success button_small"
    %div
      = render good

