%h2
  Товары

.actions
  = link_to 'New Good', new_good_path, class: "btn btn-primary"

%table.table.table-hover
  - @goods.each do |good|
    %tr
      %td
        .well
          = render good

        .actions
          = link_to 'Просмотр', good, class: "btn"
          = link_to 'Редактировать', edit_good_path(good), class: "btn btn-success"
