.nav_wrapper
  .nav_inner
    .page_icon
      %i.icon-gift
      Товары
    %ul.navigation.navbar
      %li.divider_vertical
      %li
        %a.button.button_success{href: new_good_path}
          %i.icon-plus
          Добавить
      %li.divider_vertical
      %li
        %a.button{href: places_path}
          %i.icon-globe
          Места
      %li.divider_vertical
      %li
        = form_tag search_goods_path, method: :get, remote: true do
          = text_field_tag :search, params[:search], class: "search_field"
          = submit_tag "Искать", name: nil, class: "button"

.content
  %ul.goods_list
    = render 'goods', locals: {goods: @goods}
