.nav_wrapper
  .nav_inner
    .page_icon
      %i.icon-gift
      Товары
    %ul.navigation.navbar
      %li.divider-vertical
      %li
        %a.btn.btn-primary{href: new_good_path}
          %i.icon-plus
          Добавить
      %li.divider-vertical
      %li
        %a.btn.btn-success{href: places_path}
          %i.icon-globe
          Места

.content
  %ul.goods_list
    - @goods.each do |good|
      %li.goods_list_item
        .item_toolbar
          = link_to 'Просмотр', good, class: "btn"
          = link_to 'Редактировать', edit_good_path(good), class: "btn btn-success"
        %div
          = render good

