@import "compass/css3/border-radius"

$notes_height: 77px

.content_main
  margin-top: 30px
  max-width: 350px

.input-prepend
  .notes
    @include border-bottom-left-radius(4px)

  div.notes
    height: $notes_height
    overflow-y: auto

div.actions
  margin-top: 15px
  margin-bottom: 15px
