-# Expected locals:
-# place as Object

.data_container
  .data_header
    Место:
  .data.place_name
    = place.name

.data_container
  .data_header
    Дополнительно:
  .data.notes
    = place.notes
