-# Expected locals:
-# places as Array of Object

- places.each do |place|
  %li.places_list_item
    .item_toolbar
      = link_to 'Просмотр', place, class: "button button_small"
      = link_to 'Редактировать', edit_place_path(place), class: "button button_success button_small"
    %div
      = render place
