.nav_wrapper
  .nav_inner
    .page_icon
      %i.icon-gift
      Места
    %ul.navigation.navbar
      %li.divider_vertical
      %li
        %a.button.button_success{href: new_place_path}
          %i.icon-plus
          Добавить
      %li.divider_vertical
      %li
        %a.button{href: goods_path}
          %i.icon-globe
          Товары
      %li.divider_vertical
      %li
        = form_tag search_places_path, method: :get, remote: true do
          = text_field_tag :search, params[:search], class: "search_field"
          = submit_tag "Искать", name: nil, class: "button button_small"

.content
  %ul.places_list
    = render partial: 'places', locals: {places: @places}
