%h2
  Места

.actions
  = link_to 'Новое место', new_place_path, class: "btn btn-primary"

%table.table
  - @places.each do |place|
    %tr
      %td
        .well
          = render place

        .actions
          = link_to 'Просмотр', place, class: "btn"
          = link_to 'Редактировать', edit_place_path(place), class: "btn btn-success"

