.nav_wrapper
  .nav_inner
    .page_icon
      %i.icon-gift
      Места
    %ul.navigation.navbar
      %li.divider-vertical
      %li
        %a.button{href: new_place_path}
          %i.icon-plus
          Добавить
      %li.divider-vertical
      %li
        %a.button{href: goods_path}
          %i.icon-globe
          Товары

.content
  %ul.places_list
    - @places.each do |place|
      %li.places_list_item
        .item_toolbar
          = link_to 'Просмотр', place, class: "button"
          = link_to 'Редактировать', edit_place_path(place), class: "button"
        %div
          = render place
