.well
  .control-group.input-prepend
    %i.add-on.icon-globe
    %span.name.input-xlarge.uneditable-input= @place.name

  .control-group.input-prepend
    %i.add-on.icon-book
    %div.notes.input-xlarge.uneditable-input.uneditable-textarea
      = @place.notes
